<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h1>Simple Gmail Client</h1>
        <form action="" method="post">
            <div>
                <label for="email">Gmail Address:</label><br>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="pwd">Password:</label><br>
                <input type="password" id="pwd" name="pwd" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>